/* ETIQUETAS CSS QUE INDICAN A WORDPRESS QUE ESTE ES EL TEMA HIJO */

/*
Theme Name: Sydney_child
Template: sydney
*/

/*Divider Slider Header*/
.text-slider .maintitle::after {
  display: none;
}
/*fonts Slider Title*/
.text-slider .maintitle {
  font-size: 90px;
  line-height: 80px;
  font-weight: 900;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
}

/*boton background*/
.reply,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.project-filter li a.active,
.project-filter li a:hover,
.preloader .pre-bounce1,
.preloader .pre-bounce2,
.roll-team .team-item .team-pop,
.roll-progress .progress-animate,
.roll-socials li a:hover,
.roll-project .project-item .project-pop,
.roll-project .project-filter li.active,
.roll-project .project-filter li:hover,
.roll-button.light:hover,
.roll-button.border:hover,
.roll-button,
.roll-icon-box.white .icon,
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span,
.go-top,
.bottom .socials li:hover a,
.sidebar .widget::before,
.blog-pagination ul li.active,
.blog-pagination ul li:hover a,
.content-area .hentry::after,
.text-slider .maintitle::after,
.error-wrap #search-submit:hover,
#mainnav .sub-menu li:hover > a,
#mainnav ul li ul::after,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.panel-grid-cell .widget-title::after {
  background-color: #fff0;
  border-radius: 30px;
  margin-top: 100px;
}

/*Border boton*/
.roll-button {
  border: 5px solid #fff;
}

/*Custom styles*/
.site-footer {
  background: #42063a !important;
}

/*boton background*/
.reply,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.project-filter li a.active,
.project-filter li a:hover,
.preloader .pre-bounce1,
.preloader .pre-bounce2,
.roll-team .team-item .team-pop,
.roll-progress .progress-animate,
.roll-socials li a:hover,
.roll-project .project-item .project-pop,
.roll-project .project-filter li.active,
.roll-project .project-filter li:hover,
.roll-button.light:hover,
.roll-button.border:hover,
.roll-button,
.roll-icon-box.white .icon,
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span,
.go-top,
.bottom .socials li:hover a,
.sidebar .widget::before,
.blog-pagination ul li.active,
.blog-pagination ul li:hover a,
.content-area .hentry::after,
.text-slider .maintitle::after,
.error-wrap #search-submit:hover,
#mainnav .sub-menu li:hover > a,
#mainnav ul li ul::after,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.panel-grid-cell .widget-title::after {
  background-color: #fff0;
  border-radius: 30px;
  margin-top: 50px;
}

/*Jose custom styles*/
.loagif {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  text-align: center;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
.loagif .cnt {
  position: relative;
}
.loagif p {
  margin-top: 165px;
  font-size: 20px;
  color: #fff;
}

#im_uplr {
  border: 2px solid #42063a;
  width: 40%;
  margin: 0 auto;
  padding: 52px 15px;
  text-align: center;
}

.smt-trg,
.ctm-custom-button {
  color: #000;
  border: 2px solid #42063a !important;
}
input.ctm-custom-button {
  color: #fff !important;
}
input.ctm-custom-button:disabled {
  color: gray !important;
  border-color: gray !important;
}

#file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.processing_msg {
  display: flex;
}
.processing_msg div {
  display: flex;
  align-items: center;
}
.processing_msg img {
  width: 50px;
  height: 50px;
}
#file + label {
  width: 203px;
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  padding: 5px;
  border: 5px #fff solid;
  border-radius: 51px;
  transition-duration: 0.4s;
}

#file:focus + label,
#file + label:hover {
  font-size: 1.5em;
  width: 220px;
}

.ctm_brn_purp {
  margin-top: 15px;
  color: #42063a;
  width: 230px;
  font-size: 19px;
  font-weight: 700;
  padding: 0px;
  border: 5px #42063a solid;
  border-radius: 51px;
  transition-duration: 0.4s;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.ctm_brn_purp:hover {
  font-size: 21px;
  width: 245px;
  color: #42063a !important;
}
.ctm-form-overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}
.ctm-form-overlay .content {
  background: #fff;
  width: 50%;
  padding: 40px 0;
  margin: 150px auto 0;
  text-align: center;
  position: relative;
}
.get_trg {
  color: #d65050 !important;
}
.ctm-download-link {
  display: inline-block;
  width: 165px;
  border: #fff solid 5px;
  border-radius: 35px;
  padding: 12px;
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  color: #fff;
  margin-left: 25px;
  text-transform: uppercase;
}
.preloader {
  display: none !important;
}
.ctm-container-section {
  background-color: transparent;
  background-image: linear-gradient(180deg, #42063a 39%, #000000 83%);
  padding-top: 50px !important;
}
#im_buplr {
  text-align: center;
}
.curr_ima_cont {
  display: block;
  height: 65px;
  padding: 0;
  margin-top: 29px;
  text-align: left;
  height: -webkit-fill-available;
}
.curr_ima_cont .btnContainer {
  float: right;
}
.curr_ima_cont input[type="button"] {
  margin-top: 0;
}
.close-icon {
  font-size: 21px;
  position: absolute;
  top: 5px;
  right: 15px;
}

#myProgress {
  width: 50%;
  margin: 0 auto;
  background-color: grey;
}

#myBar {
  width: 1%;
  height: 30px;
  background-color: #770468;
}

/*Boton place order*/
button#place_order {
  margin: 0;
  color: #42063a;
  border: #42063a;
  border-style: solid;
}
button.woocommerce-button.button.woocommerce-form-login__submit,
button.woocommerce-Button.woocommerce-button.button.woocommerce-form-register__submit {
  margin: 10px 0;
  color: #42063a;
  border: #42063a;
  border-style: solid;
}
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
  margin: 0;
  color: #42063a;
  border: #42063a;
  border-style: solid;
}
.reply,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.project-filter li a.active,
.project-filter li a:hover,
.preloader .pre-bounce1,
.preloader .pre-bounce2,
.roll-team .team-item .team-pop,
.roll-progress .progress-animate,
.roll-socials li a:hover,
.roll-project .project-item .project-pop,
.roll-project .project-filter li.active,
.roll-project .project-filter li:hover,
.roll-button.light:hover,
.roll-button.border:hover,
.roll-button,
.roll-icon-box.white .icon,
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span,
.go-top,
.bottom .socials li:hover a,
.sidebar .widget::before,
.blog-pagination ul li.active,
.blog-pagination ul li:hover a,
.content-area .hentry::after,
.text-slider .maintitle::after,
.error-wrap #search-submit:hover,
#mainnav .sub-menu li:hover > a,
#mainnav ul li ul::after,
button,
input[type="reset"],
input[type="submit"],
.panel-grid-cell .widget-title::after {
  margin: 0 !important;
  color: #42063a !important;
  border: #42063a;
  border-style: solid;
}

li#menu-item-455 {
  display: none;
}
.woocommerce-button.button.pay {
  display: none;
}
.ctm-myaccount table,
.ctm-myaccount tr,
.ctm-myaccount td {
  border: #42063a 2px solid;
}
.ctm-myaccount table thead {
  font-weight: bold;
}
.page-wrap {
  min-height: 424px;
}
.processing_msg p {
  width: 100%;
  text-align: center;
  font-size: 13px;
}
.site-header {
  background-color: rgba(66, 6, 58, 0.9);
}
#page .page-wrap .content-wrapper {
  margin-top: 60px;
}

#page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
#page #content {
  display: flex;
  flex: auto;
  flex-direction: column;
}

/*mediaqueries*/
@media (max-width: 769px) {
  .ctm-form-overlay .content {
    width: 85%;
  }
  .woocommerce-MyAccount-navigation li {
    text-align: center;
  }
  .ctm-myaccount table {
    border: initial;
  }
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead tr {
    display: none;
  }

  tr {
    margin: 0 0 1rem 0;
  }

  td {
    border: none;

    position: relative;
    padding-left: 50%;
    border: 1px solid #42063a;
    text-align: center;
  }

  td:before {
    position: absolute;
    top: 0;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
  td:nth-of-type(1):before {
    content: "Current plan";
  }
  td:nth-of-type(2):before {
    content: "Sign in";
  }
  td:nth-of-type(3):before {
    content: "Image limit \a restore date";
    white-space: pre;
  }
  td:nth-of-type(4):before {
    content: "Plan expiration date";
  }
  td:nth-of-type(5):before {
    content: "Enlarged images";
  }
  #mainnav-mobi {
    margin-top: 30px;
  }
  .logo-container {
    float: right;
  }
  #mainnav-mobi {
    position: absolute;
    width: 100vmin;
    height: 100vh;
    background: rgb(29, 28, 28);
  }
}
@media (max-width: 1024px) {
  .logo-container {
    float: right;
  }
  .btn-menu {
    margin-left: 20px;
    margin-top: -5px;
    float: left;
  }
}
@media (max-width: 600px) {
  .text-slider .maintitle {
    font-size: 30px;
    line-height: 30px;
    font-weight: 900;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
  }
}
dialog.dialog{
    font-size: 9px;
    padding: 0px;
    border-radius: 7px;
    background-color: #f9ff75;
    position: relative;
    
}
span.Completed, span.Canceled, span.On-hold, span.Procesing{
  font-weight: bold;
  font-weight: 700;
    color: #47425d;
    
}
input[type="button"].button-api-configure{
  margin: auto;
  background-color: rgba(66, 6, 58, 0.9);
}
.documentationApi{
  background-color: white;
  margin-top: 10px;
  border-radius: 5px;
}
.code{
  background-color: white;
  padding-left: 5px;
}
input[type="button"].documentationLan{
  margin: auto;
  background-color: rgba(66, 6, 58, 0.9);
  padding: 4px;

}